# Backend Environment Variables
PORT=4000
DATABASE_URL="postgresql://<admin-user>:<password>@<server-name>.postgres.database.azure.com:5432/<db-name>?sslmode=require"

# Azure Blob Storage Configuration
# AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net"
# AZURE_STORAGE_CONTAINER_NAME="uploads"
